
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="alert alert-info" style="text-align: center;">Reports</h2>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Report Category</label>
                        <div class="col-sm-7">
                            <select id="reportCategory" class="form-control">
                                <option value="sales">Sales</option>
                                <option value="purchase">Purchase</option>
                                <option value="stock">Stock</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Report Type</label>
                        <div class="col-sm-7">
                            <select id="reportType" class="form-control">
                                <option value="1">Date Wise Sales Report</option>
                                <option value="2">Client Wise Sales Report</option>
                                <option value="3">Product Wise Sales Report</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="row" id="dateWiseReport">
            <div class="form-horizontal">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-sm-3">From Date:</label>
                        <div class="col-sm-8">
                            <input type="date" name="fromDate" class="form-control dateTimeNow" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-sm-3">To Date:</label>
                        <div class="col-sm-8">
                            <input type="date" name="toDate" class="form-control dateTimeNow" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4"><button type="submit" class="btn btn-primary ">Show Report</button></div>
            </div>
        </div>

        <div class="row" id="clientWiseReport" style="display:none">
            <div class="form-horizontal">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Client</label>
                        <div class="col-sm-8">
                            <select id="clientId" class="form-control">
                                <option>Select Buyer</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-sm-4">From Date:</label>
                        <div class="col-sm-8">
                            <input type="date" name="fromDate" class="form-control dateTimeNow" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-sm-4">To Date:</label>
                        <div class="col-sm-8">
                            <input type="date" name="toDate" class="form-control dateTimeNow" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3"><button type="submit" id="submitBtn" class="btn btn-primary " disabled>Show Report</button></div>
            </div>
        </div>

        <div class="row" id="productWiseReport" style="display:none">
            <div class="form-horizontal">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-sm-4"> Product</label>
                        <div class="col-sm-8">
                            <select id="productId" class="form-control">
                                <option>Select Product</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-sm-4">From Date:</label>
                        <div class="col-sm-8">
                            <input type="date" name="fromDate" class="form-control dateTimeNow" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-sm-4">To Date:</label>
                        <div class="col-sm-8">
                            <input type="date" name="toDate" class="form-control dateTimeNow" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3"><button type="submit" id="submitBtn" class="btn btn-primary" disabled>Show Report</button></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        let clientId = document.querySelector('#clientId');
        let submitBtn = document.querySelector('#submitBtn');
        clientId.addEventListener('change', () => {
            if (clientId.options[clientId.selectedIndex].value == 0) {
                submitBtn.disabled = true;
            } else {
                submitBtn.disabled = false;
            }
        });
    </script>
}