@model POS_SP.Models.InstallmentSchedulePayment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>InstallmentSchedulePayment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScheduleDate" class="control-label"></label>
                <input asp-for="ScheduleDate" class="form-control" />
                <span asp-validation-for="ScheduleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleAmount" class="control-label"></label>
                <input asp-for="ScheduleAmount" class="form-control" />
                <span asp-validation-for="ScheduleAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaidAmount" class="control-label"></label>
                <input asp-for="PaidAmount" class="form-control" />
                <span asp-validation-for="PaidAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FineAmount" class="control-label"></label>
                <input asp-for="FineAmount" class="form-control" />
                <span asp-validation-for="FineAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueAmount" class="control-label"></label>
                <input asp-for="DueAmount" class="form-control" />
                <span asp-validation-for="DueAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPaid" class="control-label"></label>
                <input asp-for="TotalPaid" class="form-control" />
                <span asp-validation-for="TotalPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalDue" class="control-label"></label>
                <input asp-for="TotalDue" class="form-control" />
                <span asp-validation-for="TotalDue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesId" class="control-label"></label>
                <input asp-for="SalesId" class="form-control" />
                <span asp-validation-for="SalesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
